
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #474747;
}

header {
    justify-content: center;
    display: flex;
    font-size: 2.0rem;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    justify-content: center;
    display: flex;
    font-size: small;
}

main {
    padding: 15px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    /* border: 3px dashed red; // to check the space it takes up */
    text-align: center;
    font-size: 3.0rem;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: space-between;
}

div#crypto-top > span {
    margin-left: 10px;
}

div#crypto {
    font-size: 1.3rem;
}

div#crypto > p {
    margin: 0px;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: space-around;
    background-color: rgb(23, 175, 124);
}

div#weather > img {
    width: 70px;
    height: 70px;
}

p.weather-temp {
    font-size: 1.8rem;
}

p.weather-city {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}
